<div id="registercontainer" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-xs-12 col-sm-10">
        <div class="card">
          <header class="text-center card-header">
            <h4 class="card-title mt-2">Proposer un trajet</h4>
          </header>
          <article class="card-body">
            <div *ngIf="formError" id="registermsg" class="alert alert-danger" role="alert">
              <b>Erreur : </b> {{ msgError }}
            </div>
            <form (ngSubmit)="addTrajet()">
              <div class="form-row">
                <div class="col">
                  <mat-form-field class="fullwidth">
                      <input type="text" placeholder="Départ" aria-label="Départ" matInput name="villeDepart" [(ngModel)]="formDatas.villeDepart" [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nom}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- form-group end.// -->
                <div class="col">
                    <mat-form-field class="fullwidth">
                        <input type="text" placeholder="Destination" aria-label="Destination" matInput name="villeArrivee" [(ngModel)]="formDatas.villeArrivee" [formControl]="myControl2" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                          {{option2.nom}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
                <!-- form-group end.// -->
              </div>
              <!-- form-row end.// -->
              <div class="form-group">
                <div class="md-form nomargin">
                  <mat-form-field class="fullwidth">
                    <input matInput [matDatepicker]="picker" placeholder="Date" name="date" [(ngModel)]="formDatas.date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="md-form nomargin">
                    <button type="button" class="iconbutton" (click)="openDepart()" mat-raised-button color="primary"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                    <mat-form-field class="fullwidth">
                        <input matInput placeholder="Heure de départ" name="heureDepart" [(ngModel)]="formDatas.heureDepart">
                      </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                  <div class="md-form nomargin">
                      <button type="button" class="iconbutton" (click)="openArrivee()" mat-raised-button color="primary"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
                      <mat-form-field class="fullwidth">
                        <input matInput placeholder="Heure d'arrivée (estimation)" name="heureArrivee" [(ngModel)]="formDatas.heureArrivee">
                      </mat-form-field>
                  </div>
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                  <mat-form-field class="fullwidth">
                      <input type="number" matInput placeholder="Nombre de places" name="nbPlaces" [(ngModel)]="formDatas.nbPlaces">
                    </mat-form-field>
                </div>
              <div class="form-group">
                <mat-form-field class="fullwidth">
                    <input type="number" matInput placeholder="Prix ($CAD)" name="tarif" [(ngModel)]="formDatas.tarif">
                  </mat-form-field>
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <button mdbBtn type="submit" color="info" class="waves-light btn btn-block" mdbWavesEffect>Valider le trajet</button>
              </div>
              <!-- form-group// -->      
            </form>
          </article>
        </div>
        <!-- card.// -->
      </div>
      <!-- col.//-->
    </div>
    <!-- row.//-->
  </div>