<div id="registercontainer" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-xs-12 col-sm-10">
        <div class="card">
          <header class="text-center card-header">
            <h4 class="card-title mt-2">Proposer un trajet</h4>
          </header>
          <article class="card-body">
            <div *ngIf="formError" id="registermsg" class="alert alert-danger" role="alert">
              <b>Erreur : </b> {{ msgError }}
            </div>
            <form (submit)="register()">
              <div class="form-row">
                <div class="col">
                  <mat-form-field class="example-full-width">
                      <input type="text" placeholder="Départ" aria-label="Départ" matInput name="villeDepart" [(ngModel)]="formDatas.villeDepart" [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.nom}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                </div>
                <!-- form-group end.// -->
                <div class="col">
                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Destination" aria-label="Destination" matInput name="villeArrivee" [(ngModel)]="formDatas.villeArrivee" [formControl]="myControl2" [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                          {{option2.nom}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                </div>
                <!-- form-group end.// -->
              </div>
              <!-- form-row end.// -->
              <div class="form-group">
                <div class="md-form nomargin">
                    <mat-form-field class="fullwidth">
                        <input matInput [matDatepicker]="picker" placeholder="Date" name="date" [(ngModel)]="formDatas.date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="md-form nomargin">
                  <input mdbInputDirective [mdbValidate]="false" type="text" id="form_tel" class="form-control" name="tel">
                  <label for="form_tel" class="">Téléphone</label>
                </div>
              </div>
              <div class="form-group">
                <div class="md-form">
                  <input mdbInputDirective [mdbValidate]="false" type="password" id="form_mdp1" class="form-control" name="password1">
                  <label for="form_mdp1" class="">Mot de passe</label>
                </div>
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <div class="md-form">
                  <input mdbInputDirective [mdbValidate]="false" type="password" id="form_mdp2" class="form-control" name="password2">
                  <label for="form_mdp2" class="">Retapez le mot de passe</label>
                </div>
              </div>
              <!-- form-group end.// -->
              <div class="form-group">
                <button mdbBtn type="submit" color="info" class="waves-light btn btn-block" mdbWavesEffect>Valider</button>
              </div>
              <!-- form-group// -->      
            </form>
          </article>
          <!-- card-body end .// -->
          <div class="border-top card-body text-center">Have an account? <a href="">Log In</a></div>
        </div>
        <!-- card.// -->
      </div>
      <!-- col.//-->
    </div>
    <!-- row.//-->
  </div>