<div class="container">
	<div class="row no-gutters">
		<form id="search_form" (submit)="search()">
			<div class="col-sm-3">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Départ" aria-label="Départ" matInput name="villeDepart" [(ngModel)]="searchDatas.villeDepart" [formControl]="myControl" [matAutocomplete]="auto">
					<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
						<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
						{{option.nom}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<mat-form-field class="example-full-width">
					<input type="text" placeholder="Destination" aria-label="Destination" matInput name="villeArrivee" [(ngModel)]="searchDatas.villeArrivee" [formControl]="myControl2" [matAutocomplete]="auto2">
					<mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
						<mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
						{{option2.nom}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<mat-form-field>
					<input matInput [matDatepicker]="picker" placeholder="Date" name="date" [(ngModel)]="searchDatas.date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</mat-form-field>
			</div>
			<div class="col-sm-3">
				<button mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>Chercher un trajet</button>
			</div>
		</form>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-3 col-xs-12">
			<mat-card>
				<div class="prix"><span class="badge badge-primary">25 €</span></div>
				<div>
					<div class="heuredep">11h30</div><div class="villedepart">Chicoutimi</div>
					<div class="seatsleft">2 places restantes</div>
				</div>
				<div>
					<div class="heurearr">16h20</div><div class="villearrivee">Montreal</div>
				</div>
			</mat-card>
		</div>
	</div>
</div>